*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    min-height: 120vh;
    width: 100vw;
    padding: 25px;
    background-color: rgb(101, 100, 101);
}

#input-box{
    border: 1px solid black;
    padding: 25px;
    
}

input, textarea{
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    margin-top: 6px;
    color: white;
}

button{
    background: transparent;
    color: aliceblue;
    padding: 8px 12px;
    border: 1px solid whitesmoke;
}

.note{
    /* width: 200px;
    padding: 12px;
    color: white;
    border: 1px solid white;
    background: transparent; */
    width: 250px;
    color: #a1a0a0;
    overflow-wrap: break-word;
    margin: 12px;
    padding: 12px;
    border: 1px solid black;
    background: transparent;
}

#notes{
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
}

.deleteNote{
   float: right;
}

.archiveNote{
    float: left;
}